@font-face {
    font-family: 'Android 101';
    src: url('../fonts/android_101-webfont.woff2') format('woff2'),
    url('../fonts/android_101-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    position: relative;
    min-height: 100%;
    background-color: rgb(26, 29, 30);
}

body{
    color: rgb(230, 226, 219);
    margin-bottom: 40px;
    background-color: rgb(26, 29, 30);
}

.bg-helper{
    background-color: rgb(26, 29, 30);
}

.row > .row{
    margin-left: 0;
    margin-right: 0;
}

.bg-dark{
    background-color: rgb(48, 52, 54) !important;
}

.card {
    background-color: rgb(26, 29, 30);
    border-color: rgba(154, 143, 127, 0.13);
}

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: rgb(31, 34, 35);
}

.form-control {
    color: rgb(199, 193, 183);
    background-color: rgb(26, 29, 30);
    border-color: rgb(66, 72, 75);
}

.dropdown-menu {
    color: rgb(230, 226, 219);
    list-style-image: none;
    background-color: rgb(26, 29, 30);
    border-color: rgba(154, 143, 127, 0.15);
}

.dropdown-item:focus, .dropdown-item:hover {
    color: rgb(239, 234, 229);
    text-decoration-color: currentcolor;
    background-color: rgb(30, 33, 34);
}
.dropdown-item {
    color: rgb(230, 226, 219) !important;
    background-color: transparent;
    border-color: currentcolor;
}

.dropdown-item.active {
    color: #fff;
    text-decoration: none;
    background-color: rgb(53, 71, 53);
}

.dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
}

p {
     margin-bottom: 0;
 }

.navbar-brand{
    font-family: "Android 101", "Segoe UI", sans-serif;
}

/*
.carousel-inner > .carousel-item > img{
    width:40%;
}
*/

.carousel-control-prev,
.carousel-control-next,
.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
    color: #343a40;
    filter: invert(1);
}

.carousel-caption {
    background: rgba(52, 58, 64, 0.46);
    padding: 8px;
}

.card img{
    object-fit: cover;
    max-height: 250px;
    height: 250px;
}

.contact-card{
    object-position: 100% 0;
}

.card-body .btn{
    margin-top: 1rem;
}

.card.m-3 {
    margin-top: 0 !important;
}

.card.mb-3 {
    margin-bottom: 3.5rem !important;
}

.about-me-text{
    font-size: 135%;
}

.center{
    margin-left: 50%;
    transform: translateX(-50%);
}

.content-container{
    width: 60% !important;
}

.about-me-header{
    font-size: 150%;
}

.about-me-img1{
    width: 60%;
}

.bee-img{
    width: 75%;
    image-rendering: optimizespeed;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

.selection-img{
    width: 45%;
    margin-right: 3px;
    margin-left: 3px;
}

.anim-img{
    width: 24%;
    margin-right: 3px;
    margin-left: 3px;
}

a, a:link{
    color: forestgreen;
}

a:visited{
    color: darkgreen;
}

a:hover, a:active{
    color: limegreen;
}

.table{
    color: rgb(230, 226, 219);
}

.ability-desc-col{
    width: 64%;
}

.btn-primary, .btn-primary:visited, .btn-primary:active, .btn-primary:hover{
    color: rgb(230, 226, 219) !important;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    width: 75%;
}

.project-text{
    font-size: 145%;
    width: 80%;
}

h6{
    color: rgba(230, 226, 219, 0.7) !important;
}

.project-img{
    width: 65%;
}

@media screen and (min-width: 576px) {
    .dropdown-menu {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 1158px) {
    .carousel-caption{
        font-size: 70%;
    }

    .card{
        font-size: 80%;
    }

    .content-container{
        width: 85% !important;
    }
}

@media screen and (max-width: 903px) {
    .carousel-caption{
        font-size: 50%;
    }
    .content-container{
        width: 100% !important;
    }
}

@media screen and (max-width: 575px) {
    .navbar-brand {
        text-align: center;
    }
    .card, .about-me-text {
        font-size: 100%;
    }
    .contact-message{
        padding: 0 15%;
    }
    .about-me-img1{
        width: 100%;
    }
}

@media screen and (min-width: 992px){
    .m-lg-4{
        margin-bottom: 2.4rem !important;
    }
}

@media screen and (max-width: 991px){
    .m-lg-4{
        margin-bottom: 1rem !important;
    }
}