@font-face {
    font-family: 'Android 101';
    src: url('../fonts/android_101-webfont.woff2') format('woff2'),
    url('../fonts/android_101-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}

.footer{
    font-size: 0.75rem;
}

p {
     margin-bottom: 0;
 }

.navbar-brand{
    font-family: "Android 101", "Segoe UI", sans-serif;
}

/*
.carousel-inner > .carousel-item > img{
    width:40%;
}
*/

.carousel-control-prev,
.carousel-control-next,
.carousel-control-prev:hover, .carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
    color: #343a40;
    filter: invert(1);
}

.carousel-caption {
    background: rgba(52, 58, 64, 0.46);
    padding: 8px;
}

.card img{
    object-fit: cover;
    max-height: 250px;
    height: 250px;
}

.contact-card{
    object-position: 100% 0;
}

.card-body .btn{
    margin-top: 1rem;
}

.card.m-3 {
    margin-top: 0 !important;
}

@media screen and (min-width: 576px) {
    .dropdown-menu {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media screen and (max-width: 1158px) {
    .carousel-caption{
        font-size: 70%;
    }

    .card {
        font-size: 80%;
    }
}

@media screen and (max-width: 903px) {
    .carousel-caption {
        font-size: 50%;
    }
}

@media screen and (max-width: 575px) {
    .navbar-brand {
        text-align: center;
    }
}

@media screen and (min-width: 992px){
    .m-lg-4{
        margin-bottom: 2.4rem !important;
    }
}

@media screen and (max-width: 991px){
    .m-lg-4{
        margin-bottom: 1rem !important;
    }
}